<!DOCTYPE html>
<html>
<head>
<title>Spotness</title>
<meta charset="UTF-8">
    <style>
       #map {
        height: 400px;
        width: 400px;
       }
    </style>
    <script src="/static/user/spotness.js"></script>
</head>
  <body>
    <h3>My Map</h3>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6eGGBJC4jj6M2HsMej1kTKgnB3Sd5k48&callback=initMap">
    </script>
  {% block content %}

{% endblock %}
  </body>
<footer>
 {% if request.user.is_authenticated %}
        <a href="/logout">LOGOUT {{ request.user.username }}</a><br />
        <a href="/add_point/">ADD YOUR POINT</a>
    {% else %}
        <a href="/login">LOGIN</a><br />
        <a href="/registration">REGISTER</a><br />
    {% endif %}
</footer>
</html>