{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<script>
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 0, lng: 0},
  zoom: 2
});
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
        map.setZoom(11);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      handleLocationError(false, infoWindow, map.getCenter());
    }
var spots = {{ spots_list | safe }};

for ( i = 0; i < spots.length; i++ ) {
var marker = new google.maps.Marker({
    position: new google.maps.LatLng(spots[i][1], spots[i][2]),
    map: map,
    url: spots[i][3],
  });
  google.maps.event.addListener(marker, 'click', function() {
    window.location.href = this.url;
});
  }
}
</script>
{% if request.user.is_authenticated %}
    <div class="instruction"><h3><i>Feel free to explore the world. Turn on geolocation to find some recommendations nearby you.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</i><a href="/point/{{ random_id }}">
    <img src="/media/media/random.jpg" width=10% height=10%>
</a></h3></div>
    <div id="map"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6eGGBJC4jj6M2HsMej1kTKgnB3Sd5k48&callback=initMap">
    </script></div><br />
{% else %}
<div class="jumbotron">
<a href="/registration/">
    <img src="/media/media/loginorregister.jpg" class="img-responsive center-block" width=65% height=65%>
</a>
</div>
{% endif %}
{% endblock %}