{% extends 'user/base.html' %}

{% block content %}
<script src="/static/user/spotness.js"></script>
{% if request.user.is_authenticated %}
    <h3>Main Map</h3>
    <h2>All spots:</h2>
    <div id="map"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6eGGBJC4jj6M2HsMej1kTKgnB3Sd5k48&callback=initMap">
    </script></div>
    <ul>
    {% for point in point_list %}
        <p><a href="/point/{{ point.id }}/">{{ point.name }}</a><br />
        <strong>{{ point.user.username }}</strong> ~ {{ point.description }}<br />
        {{ point.type.1 }}, {{ point.location }}</p><br />
    {% endfor %}
{% else %}
    <p>To see more, you must be a registered user.</p>
{% endif %}
</ul>
{% endblock %}