{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<br><ol id="spots_list">{% for spot_name, spot_lat, spot_lng, spot_url in spots_list %}
    <li class="spot_spot"><p class="spot_name">{{ spot_name }}</p><p class="spot_lat">{{ spot_lat }}</p><p class="spot_lng">{{ spot_lng }}</p><p class="spot_url">{{ spot_url }}</p></ul></li>
    {% endfor %}</ol></div>
<script src="/static/user/user.js"></script>
<div class="instruction center_div"><h3><i>There are spots of {{ user.username }}</i></h3></div>
<div id="map"><script src="https://maps.googleapis.com/maps/api/js?key{{ googlemaps_key }}&callback=initMap"></script>
</div>

{% endblock %}