{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<script>
    function initMap() {
var pos = {
          lat: {{ point.lat }},
          lng: {{ point.lng }}
        };
var map = new google.maps.Map(document.getElementById('map-detail'), {
  center: pos,
  zoom: 15
});
var marker = new google.maps.Marker({
  position: pos,
  map: map
});
}
</script>
<div id="map-detail"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6eGGBJC4jj6M2HsMej1kTKgnB3Sd5k48&callback=initMap">
    </script></div>
<div class="instruction">
<img src="/media/{{ point.photo }}" width="300px"><br />
<h1>{{ point.name }}</h1>
<i>{{ point.description }}</i><br/>
<strong>Type: </strong>{{ point.type.name }}<br />
    {% for name in tags %}
    <span class="label label-info">{{ name }}</span>
    {% endfor %}
    <br />
Added by
    {% if point.user.username == user.username %}
    <a href="/user/{{ request.user.id }}">YOU</a>
    {% else %}
    <a href="/user/{{ point.user.id }}">{{ point.user.username }}</a>
    {% endif %}
</div>
{% if request.user.id == point.user.id %}
<a href="{{ point.get_delete_url }}">DELETE</a>
{% endif %}

{% endblock %}