{% extends 'user/base.html' %}
{% load static %}

{% block content %}
    <script src='{% static "/point/point_form.js" %}'></script>
    <div class="instruction center_div"><h3><i>Find your fav spot and click right, to add a marker! Then add some details and save :)</i></h3></div>
    <div id="map-detail"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6eGGBJC4jj6M2HsMej1kTKgnB3Sd5k48&callback=initMap">
    </script></div>
    <div class="form_point form-group">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add your point"/>
    </form></div>
    {% endblock %}